#root {
  margin: 0 auto;
  text-align: center;
}

.renderCanvas {
  background-color: black;
}

.renderCanvasContainer {
  position: relative;
  width: 512px;
  height: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-style: dashed;
  outline-width: 4px;
  outline-color: #888;
}

#renderCanvas {
  position: absolute;
  right: 0%;
}
#buttonCanvas {
  position: absolute;
  opacity: 75%;
}

#buttonCanvas:hover {
  opacity: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div.mainPanel {
  display:inline-block;
}
