<!DOCTYPE html>

<html lang="en">
<head>
<title>NormalMapGenTest</title>

</head>

<body>

<h1>Normal maps generation test</h1>
<button onclick="upload_texture()">Select texture</button><br>
<button onclick="test()">Test</button><br>
<img id="input_texture"></img><br>
<p id="status"></p>

</body>

<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js'></script>
<script src="/static/node_modules/tiff.js/tiff.min.js"></script>
<script src="/static/js/three.min.js"></script>
<script src="/static/js/main.js"></script>

</html>